@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  /* Keeping the original colors you provided where applicable */
  --primary: #312e38;
  --secondary: #232129;

  --text: #fff; /* As you mentioned, Faculdade Impacta uses white for text */
  --text-secondary: #312e38;
  --text-hover: #c9c2c2;

  /* Updating the link colors based on the button color you mentioned */
  --link: #116fff;
  --link-hover: #0a4dcc; /* A slightly darker shade of blue for hover */

  /* Updating the button colors based on what you provided */
  --button: #116fff;
  --button-hover: #0a4dcc; /* A slightly darker shade of blue for hover */

  /* Navbar color */
  --sidebar: #101010;

  --border-input: #232129;

  --error: #c53030;

  /* You might want to adjust this icon color to be more in line with the new theme */
  --icon: #666360;
}




body {
  -webkit-font-smooth: antialiased;
  margin: 0;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
