@model Auth.Service.Mail.Models.ResetPasswordEmailModel;

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinição de Senha</title>
</head>
<body style="
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #fff;
    ">
    <table border="0"
           cellpadding="0"
           cellspacing="0"
           width="100%"
           style="max-width: 600px; background-color: #fff">
        <tr>
            <td align="center" valign="top" style="padding: 20px">
                <table border="0"
                       cellpadding="0"
                       cellspacing="0"
                       width="100%"
                       style="border-radius: 5px; background-color: rgb(94, 90, 102)">
                    <tr>
                        <td align="center" style="padding: 40px">
                            <h1 style="
                    font-family: 'DM Serif Display', serif;
                    color: #000;
                    margin: 0;
                  ">
                                Redefinição de Senha
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 0 40px 20px">
                            <p style="color: #000; font-size: 18px">
                                Prezado(a)
                                <span style="color: #ffa228; font-weight: bold">@Model.Username</span>,
                            </p>
                            <p style="color: #000; font-size: 18px">
                                Você solicitou um link para redefinição de sua senha de
                                acesso. Para redefinir sua senha, acesse o botão abaixo:
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 0 40px 40px">
                            <a href="@Model.ResetPasswordLink"
                               style="
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: #ff9000;
                    color: #333131;
                    text-decoration: none;
                    font-size: 20px;
                    border-radius: 5px;
                  ">Redefinir senha</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>